/* -----------------------------------------
------------- GRAPHIC DESIGN.scss ----------
----------------------------------------- */

#design .designcontent{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 80px;
}