/* -------------------------------
------------- MAIN.scss ----------
------------------------------- */
@import 'colors';

@import 'header';
@import 'index';
@import 'design';
@import 'resume';
@import 'footer';

@import 'mediaqueries';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  text-transform: uppercase;
  font-family: 'Noto Sans HK', sans-serif;
  background-image: url("https://images.pexels.com/photos/1061623/pexels-photo-1061623.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  h1{
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    font-weight: lighter;
    margin-bottom: 35px;
    font-family: 'Electrolize', sans-serif;
  }
  
  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

// "UNDER CONSTRUCTION" message
.temporary{
  display: flex;
  justify-content: center;

  h3{
    color: red;
    font-weight: bold;
    margin-top: 50px;
    
    span{
      color: #bd3f3f;
      text-transform: lowercase;
    }
  }
}